.pol {
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 21px;
    color: black;
    width: 500px;
    height: auto;
    background: rgba(223, 223, 223);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.example-full-width {
    width: 100%;
}

hr {
    margin-top: 0;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 41%;
}

.row {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 0;
    text-align: none;
}

.username {
    text-align: center;
    color: black;
    padding-left: 35%;
}

body {
    margin: 0;
}

.center {
    padding-left: 35.2%;
}
